@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Milonga&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
  padding: 0;
}
* body {
  font-family: Poppins;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.text-alpha {
  color: #181717;
}

.text-hover-alpha:hover {
  color: #181717;
}

.bg-alpha {
  background-color: #181717;
}

.text-alpha-light-1 {
  color: #2f2e2e;
}

.text-hover-alpha-light-1:hover {
  color: #8c8b8b;
}

.bg-alpha-light-1 {
  background-color: #2f2e2e;
}

.text-alpha-light-2 {
  color: #464545;
}

.text-hover-alpha-light-2:hover {
  color: #8c8b8b;
}

.bg-alpha-light-2 {
  background-color: #464545;
}

.text-alpha-light-3 {
  color: #5d5d5d;
}

.text-hover-alpha-light-3:hover {
  color: #8c8b8b;
}

.bg-alpha-light-3 {
  background-color: #5d5d5d;
}

.text-alpha-light-4 {
  color: #747474;
}

.text-hover-alpha-light-4:hover {
  color: #8c8b8b;
}

.bg-alpha-light-4 {
  background-color: #747474;
}

.text-alpha-light-5 {
  color: #8c8b8b;
}

.text-hover-alpha-light-5:hover {
  color: #8c8b8b;
}

.bg-alpha-light-5 {
  background-color: #8c8b8b;
}

.text-alpha-light-6 {
  color: #a3a2a2;
}

.text-hover-alpha-light-6:hover {
  color: #8c8b8b;
}

.bg-alpha-light-6 {
  background-color: #a3a2a2;
}

.text-alpha-light-7 {
  color: #bab9b9;
}

.text-hover-alpha-light-7:hover {
  color: #8c8b8b;
}

.bg-alpha-light-7 {
  background-color: #bab9b9;
}

.text-alpha-light-8 {
  color: #d1d1d1;
}

.text-hover-alpha-light-8:hover {
  color: #8c8b8b;
}

.bg-alpha-light-8 {
  background-color: #d1d1d1;
}

.text-alpha-light-9 {
  color: #e8e8e8;
}

.text-hover-alpha-light-9:hover {
  color: #8c8b8b;
}

.bg-alpha-light-9 {
  background-color: #e8e8e8;
}

.text-alpha-dark-1 {
  color: #161515;
}

.text-hover-alpha-dark-1:hover {
  color: #0c0c0c;
}

.bg-alpha-dark-1 {
  background-color: #161515;
}

.text-alpha-dark-2 {
  color: #131212;
}

.text-hover-alpha-dark-2:hover {
  color: #0c0c0c;
}

.bg-alpha-dark-2 {
  background-color: #131212;
}

.text-alpha-dark-3 {
  color: #111010;
}

.text-hover-alpha-dark-3:hover {
  color: #0c0c0c;
}

.bg-alpha-dark-3 {
  background-color: #111010;
}

.text-alpha-dark-4 {
  color: #0e0e0e;
}

.text-hover-alpha-dark-4:hover {
  color: #0c0c0c;
}

.bg-alpha-dark-4 {
  background-color: #0e0e0e;
}

.text-alpha-dark-5 {
  color: #0c0c0c;
}

.text-hover-alpha-dark-5:hover {
  color: #0c0c0c;
}

.bg-alpha-dark-5 {
  background-color: #0c0c0c;
}

.text-alpha-dark-6 {
  color: #0a0909;
}

.text-hover-alpha-dark-6:hover {
  color: #0c0c0c;
}

.bg-alpha-dark-6 {
  background-color: #0a0909;
}

.text-alpha-dark-7 {
  color: #070707;
}

.text-hover-alpha-dark-7:hover {
  color: #0c0c0c;
}

.bg-alpha-dark-7 {
  background-color: #070707;
}

.text-alpha-dark-8 {
  color: #050505;
}

.text-hover-alpha-dark-8:hover {
  color: #0c0c0c;
}

.bg-alpha-dark-8 {
  background-color: #050505;
}

.text-alpha-dark-9 {
  color: #020202;
}

.text-hover-alpha-dark-9:hover {
  color: #0c0c0c;
}

.bg-alpha-dark-9 {
  background-color: #020202;
}

.text-beta {
  color: #859bf3;
}

.text-hover-beta:hover {
  color: #859bf3;
}

.bg-beta {
  background-color: #859bf3;
}

.text-beta-light-1 {
  color: #91a5f4;
}

.text-hover-beta-light-1:hover {
  color: #c2cdf9;
}

.bg-beta-light-1 {
  background-color: #91a5f4;
}

.text-beta-light-2 {
  color: #9daff5;
}

.text-hover-beta-light-2:hover {
  color: #c2cdf9;
}

.bg-beta-light-2 {
  background-color: #9daff5;
}

.text-beta-light-3 {
  color: #aab9f7;
}

.text-hover-beta-light-3:hover {
  color: #c2cdf9;
}

.bg-beta-light-3 {
  background-color: #aab9f7;
}

.text-beta-light-4 {
  color: #b6c3f8;
}

.text-hover-beta-light-4:hover {
  color: #c2cdf9;
}

.bg-beta-light-4 {
  background-color: #b6c3f8;
}

.text-beta-light-5 {
  color: #c2cdf9;
}

.text-hover-beta-light-5:hover {
  color: #c2cdf9;
}

.bg-beta-light-5 {
  background-color: #c2cdf9;
}

.text-beta-light-6 {
  color: #ced7fa;
}

.text-hover-beta-light-6:hover {
  color: #c2cdf9;
}

.bg-beta-light-6 {
  background-color: #ced7fa;
}

.text-beta-light-7 {
  color: #dae1fb;
}

.text-hover-beta-light-7:hover {
  color: #c2cdf9;
}

.bg-beta-light-7 {
  background-color: #dae1fb;
}

.text-beta-light-8 {
  color: #e7ebfd;
}

.text-hover-beta-light-8:hover {
  color: #c2cdf9;
}

.bg-beta-light-8 {
  background-color: #e7ebfd;
}

.text-beta-light-9 {
  color: #f3f5fe;
}

.text-hover-beta-light-9:hover {
  color: #c2cdf9;
}

.bg-beta-light-9 {
  background-color: #f3f5fe;
}

.text-beta-dark-1 {
  color: #788cdb;
}

.text-hover-beta-dark-1:hover {
  color: #434e7a;
}

.bg-beta-dark-1 {
  background-color: #788cdb;
}

.text-beta-dark-2 {
  color: #6a7cc2;
}

.text-hover-beta-dark-2:hover {
  color: #434e7a;
}

.bg-beta-dark-2 {
  background-color: #6a7cc2;
}

.text-beta-dark-3 {
  color: #5d6daa;
}

.text-hover-beta-dark-3:hover {
  color: #434e7a;
}

.bg-beta-dark-3 {
  background-color: #5d6daa;
}

.text-beta-dark-4 {
  color: #505d92;
}

.text-hover-beta-dark-4:hover {
  color: #434e7a;
}

.bg-beta-dark-4 {
  background-color: #505d92;
}

.text-beta-dark-5 {
  color: #434e7a;
}

.text-hover-beta-dark-5:hover {
  color: #434e7a;
}

.bg-beta-dark-5 {
  background-color: #434e7a;
}

.text-beta-dark-6 {
  color: #353e61;
}

.text-hover-beta-dark-6:hover {
  color: #434e7a;
}

.bg-beta-dark-6 {
  background-color: #353e61;
}

.text-beta-dark-7 {
  color: #282f49;
}

.text-hover-beta-dark-7:hover {
  color: #434e7a;
}

.bg-beta-dark-7 {
  background-color: #282f49;
}

.text-beta-dark-8 {
  color: #1b1f31;
}

.text-hover-beta-dark-8:hover {
  color: #434e7a;
}

.bg-beta-dark-8 {
  background-color: #1b1f31;
}

.text-beta-dark-9 {
  color: #0d1018;
}

.text-hover-beta-dark-9:hover {
  color: #434e7a;
}

.bg-beta-dark-9 {
  background-color: #0d1018;
}

.text-gamma {
  color: #9bcdfb;
}

.text-hover-gamma:hover {
  color: #9bcdfb;
}

.bg-gamma {
  background-color: #9bcdfb;
}

.text-gamma-light-1 {
  color: #a5d2fb;
}

.text-hover-gamma-light-1:hover {
  color: #cde6fd;
}

.bg-gamma-light-1 {
  background-color: #a5d2fb;
}

.text-gamma-light-2 {
  color: #afd7fc;
}

.text-hover-gamma-light-2:hover {
  color: #cde6fd;
}

.bg-gamma-light-2 {
  background-color: #afd7fc;
}

.text-gamma-light-3 {
  color: #b9dcfc;
}

.text-hover-gamma-light-3:hover {
  color: #cde6fd;
}

.bg-gamma-light-3 {
  background-color: #b9dcfc;
}

.text-gamma-light-4 {
  color: #c3e1fd;
}

.text-hover-gamma-light-4:hover {
  color: #cde6fd;
}

.bg-gamma-light-4 {
  background-color: #c3e1fd;
}

.text-gamma-light-5 {
  color: #cde6fd;
}

.text-hover-gamma-light-5:hover {
  color: #cde6fd;
}

.bg-gamma-light-5 {
  background-color: #cde6fd;
}

.text-gamma-light-6 {
  color: #d7ebfd;
}

.text-hover-gamma-light-6:hover {
  color: #cde6fd;
}

.bg-gamma-light-6 {
  background-color: #d7ebfd;
}

.text-gamma-light-7 {
  color: #e1f0fe;
}

.text-hover-gamma-light-7:hover {
  color: #cde6fd;
}

.bg-gamma-light-7 {
  background-color: #e1f0fe;
}

.text-gamma-light-8 {
  color: #ebf5fe;
}

.text-hover-gamma-light-8:hover {
  color: #cde6fd;
}

.bg-gamma-light-8 {
  background-color: #ebf5fe;
}

.text-gamma-light-9 {
  color: #f5faff;
}

.text-hover-gamma-light-9:hover {
  color: #cde6fd;
}

.bg-gamma-light-9 {
  background-color: #f5faff;
}

.text-gamma-dark-1 {
  color: #8cb9e2;
}

.text-hover-gamma-dark-1:hover {
  color: #4e677e;
}

.bg-gamma-dark-1 {
  background-color: #8cb9e2;
}

.text-gamma-dark-2 {
  color: #7ca4c9;
}

.text-hover-gamma-dark-2:hover {
  color: #4e677e;
}

.bg-gamma-dark-2 {
  background-color: #7ca4c9;
}

.text-gamma-dark-3 {
  color: #6d90b0;
}

.text-hover-gamma-dark-3:hover {
  color: #4e677e;
}

.bg-gamma-dark-3 {
  background-color: #6d90b0;
}

.text-gamma-dark-4 {
  color: #5d7b97;
}

.text-hover-gamma-dark-4:hover {
  color: #4e677e;
}

.bg-gamma-dark-4 {
  background-color: #5d7b97;
}

.text-gamma-dark-5 {
  color: #4e677e;
}

.text-hover-gamma-dark-5:hover {
  color: #4e677e;
}

.bg-gamma-dark-5 {
  background-color: #4e677e;
}

.text-gamma-dark-6 {
  color: #3e5264;
}

.text-hover-gamma-dark-6:hover {
  color: #4e677e;
}

.bg-gamma-dark-6 {
  background-color: #3e5264;
}

.text-gamma-dark-7 {
  color: #2f3e4b;
}

.text-hover-gamma-dark-7:hover {
  color: #4e677e;
}

.bg-gamma-dark-7 {
  background-color: #2f3e4b;
}

.text-gamma-dark-8 {
  color: #1f2932;
}

.text-hover-gamma-dark-8:hover {
  color: #4e677e;
}

.bg-gamma-dark-8 {
  background-color: #1f2932;
}

.text-gamma-dark-9 {
  color: #101519;
}

.text-hover-gamma-dark-9:hover {
  color: #4e677e;
}

.bg-gamma-dark-9 {
  background-color: #101519;
}

.text-delta {
  color: #e0b389;
}

.text-hover-delta:hover {
  color: #e0b389;
}

.bg-delta {
  background-color: #e0b389;
}

.text-delta-light-1 {
  color: #e3bb95;
}

.text-hover-delta-light-1:hover {
  color: #f0d9c4;
}

.bg-delta-light-1 {
  background-color: #e3bb95;
}

.text-delta-light-2 {
  color: #e6c2a1;
}

.text-hover-delta-light-2:hover {
  color: #f0d9c4;
}

.bg-delta-light-2 {
  background-color: #e6c2a1;
}

.text-delta-light-3 {
  color: #e9caac;
}

.text-hover-delta-light-3:hover {
  color: #f0d9c4;
}

.bg-delta-light-3 {
  background-color: #e9caac;
}

.text-delta-light-4 {
  color: #ecd1b8;
}

.text-hover-delta-light-4:hover {
  color: #f0d9c4;
}

.bg-delta-light-4 {
  background-color: #ecd1b8;
}

.text-delta-light-5 {
  color: #f0d9c4;
}

.text-hover-delta-light-5:hover {
  color: #f0d9c4;
}

.bg-delta-light-5 {
  background-color: #f0d9c4;
}

.text-delta-light-6 {
  color: #f3e1d0;
}

.text-hover-delta-light-6:hover {
  color: #f0d9c4;
}

.bg-delta-light-6 {
  background-color: #f3e1d0;
}

.text-delta-light-7 {
  color: #f6e8dc;
}

.text-hover-delta-light-7:hover {
  color: #f0d9c4;
}

.bg-delta-light-7 {
  background-color: #f6e8dc;
}

.text-delta-light-8 {
  color: #f9f0e7;
}

.text-hover-delta-light-8:hover {
  color: #f0d9c4;
}

.bg-delta-light-8 {
  background-color: #f9f0e7;
}

.text-delta-light-9 {
  color: #fcf7f3;
}

.text-hover-delta-light-9:hover {
  color: #f0d9c4;
}

.bg-delta-light-9 {
  background-color: #fcf7f3;
}

.text-delta-dark-1 {
  color: #caa17b;
}

.text-hover-delta-dark-1:hover {
  color: #705a45;
}

.bg-delta-dark-1 {
  background-color: #caa17b;
}

.text-delta-dark-2 {
  color: #b38f6e;
}

.text-hover-delta-dark-2:hover {
  color: #705a45;
}

.bg-delta-dark-2 {
  background-color: #b38f6e;
}

.text-delta-dark-3 {
  color: #9d7d60;
}

.text-hover-delta-dark-3:hover {
  color: #705a45;
}

.bg-delta-dark-3 {
  background-color: #9d7d60;
}

.text-delta-dark-4 {
  color: #866b52;
}

.text-hover-delta-dark-4:hover {
  color: #705a45;
}

.bg-delta-dark-4 {
  background-color: #866b52;
}

.text-delta-dark-5 {
  color: #705a45;
}

.text-hover-delta-dark-5:hover {
  color: #705a45;
}

.bg-delta-dark-5 {
  background-color: #705a45;
}

.text-delta-dark-6 {
  color: #5a4837;
}

.text-hover-delta-dark-6:hover {
  color: #705a45;
}

.bg-delta-dark-6 {
  background-color: #5a4837;
}

.text-delta-dark-7 {
  color: #433629;
}

.text-hover-delta-dark-7:hover {
  color: #705a45;
}

.bg-delta-dark-7 {
  background-color: #433629;
}

.text-delta-dark-8 {
  color: #2d241b;
}

.text-hover-delta-dark-8:hover {
  color: #705a45;
}

.bg-delta-dark-8 {
  background-color: #2d241b;
}

.text-delta-dark-9 {
  color: #16120e;
}

.text-hover-delta-dark-9:hover {
  color: #705a45;
}

.bg-delta-dark-9 {
  background-color: #16120e;
}

.text-primary {
  color: #326dee;
}

.text-hover-primary:hover {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.text-primary-light-1 {
  color: #477cf0;
}

.text-hover-primary-light-1:hover {
  color: #99b6f7;
}

.bg-primary-light-1 {
  background-color: #477cf0;
}

.text-primary-light-2 {
  color: #5b8af1;
}

.text-hover-primary-light-2:hover {
  color: #99b6f7;
}

.bg-primary-light-2 {
  background-color: #5b8af1;
}

.text-primary-light-3 {
  color: #7099f3;
}

.text-hover-primary-light-3:hover {
  color: #99b6f7;
}

.bg-primary-light-3 {
  background-color: #7099f3;
}

.text-primary-light-4 {
  color: #84a7f5;
}

.text-hover-primary-light-4:hover {
  color: #99b6f7;
}

.bg-primary-light-4 {
  background-color: #84a7f5;
}

.text-primary-light-5 {
  color: #99b6f7;
}

.text-hover-primary-light-5:hover {
  color: #99b6f7;
}

.bg-primary-light-5 {
  background-color: #99b6f7;
}

.text-primary-light-6 {
  color: #adc5f8;
}

.text-hover-primary-light-6:hover {
  color: #99b6f7;
}

.bg-primary-light-6 {
  background-color: #adc5f8;
}

.text-primary-light-7 {
  color: #c2d3fa;
}

.text-hover-primary-light-7:hover {
  color: #99b6f7;
}

.bg-primary-light-7 {
  background-color: #c2d3fa;
}

.text-primary-light-8 {
  color: #d6e2fc;
}

.text-hover-primary-light-8:hover {
  color: #99b6f7;
}

.bg-primary-light-8 {
  background-color: #d6e2fc;
}

.text-primary-light-9 {
  color: #ebf0fd;
}

.text-hover-primary-light-9:hover {
  color: #99b6f7;
}

.bg-primary-light-9 {
  background-color: #ebf0fd;
}

.text-primary-dark-1 {
  color: #2d62d6;
}

.text-hover-primary-dark-1:hover {
  color: #193777;
}

.bg-primary-dark-1 {
  background-color: #2d62d6;
}

.text-primary-dark-2 {
  color: #2857be;
}

.text-hover-primary-dark-2:hover {
  color: #193777;
}

.bg-primary-dark-2 {
  background-color: #2857be;
}

.text-primary-dark-3 {
  color: #234ca7;
}

.text-hover-primary-dark-3:hover {
  color: #193777;
}

.bg-primary-dark-3 {
  background-color: #234ca7;
}

.text-primary-dark-4 {
  color: #1e418f;
}

.text-hover-primary-dark-4:hover {
  color: #193777;
}

.bg-primary-dark-4 {
  background-color: #1e418f;
}

.text-primary-dark-5 {
  color: #193777;
}

.text-hover-primary-dark-5:hover {
  color: #193777;
}

.bg-primary-dark-5 {
  background-color: #193777;
}

.text-primary-dark-6 {
  color: #142c5f;
}

.text-hover-primary-dark-6:hover {
  color: #193777;
}

.bg-primary-dark-6 {
  background-color: #142c5f;
}

.text-primary-dark-7 {
  color: #0f2147;
}

.text-hover-primary-dark-7:hover {
  color: #193777;
}

.bg-primary-dark-7 {
  background-color: #0f2147;
}

.text-primary-dark-8 {
  color: #0a1630;
}

.text-hover-primary-dark-8:hover {
  color: #193777;
}

.bg-primary-dark-8 {
  background-color: #0a1630;
}

.text-primary-dark-9 {
  color: #050b18;
}

.text-hover-primary-dark-9:hover {
  color: #193777;
}

.bg-primary-dark-9 {
  background-color: #050b18;
}

.text-secondary {
  color: #1ac888;
}

.text-hover-secondary:hover {
  color: #1ac888;
}

.bg-secondary {
  background-color: #1ac888;
}

.text-secondary-light-1 {
  color: #31ce94;
}

.text-hover-secondary-light-1:hover {
  color: #8de4c4;
}

.bg-secondary-light-1 {
  background-color: #31ce94;
}

.text-secondary-light-2 {
  color: #48d3a0;
}

.text-hover-secondary-light-2:hover {
  color: #8de4c4;
}

.bg-secondary-light-2 {
  background-color: #48d3a0;
}

.text-secondary-light-3 {
  color: #5fd9ac;
}

.text-hover-secondary-light-3:hover {
  color: #8de4c4;
}

.bg-secondary-light-3 {
  background-color: #5fd9ac;
}

.text-secondary-light-4 {
  color: #76deb8;
}

.text-hover-secondary-light-4:hover {
  color: #8de4c4;
}

.bg-secondary-light-4 {
  background-color: #76deb8;
}

.text-secondary-light-5 {
  color: #8de4c4;
}

.text-hover-secondary-light-5:hover {
  color: #8de4c4;
}

.bg-secondary-light-5 {
  background-color: #8de4c4;
}

.text-secondary-light-6 {
  color: #a3e9cf;
}

.text-hover-secondary-light-6:hover {
  color: #8de4c4;
}

.bg-secondary-light-6 {
  background-color: #a3e9cf;
}

.text-secondary-light-7 {
  color: #baefdb;
}

.text-hover-secondary-light-7:hover {
  color: #8de4c4;
}

.bg-secondary-light-7 {
  background-color: #baefdb;
}

.text-secondary-light-8 {
  color: #d1f4e7;
}

.text-hover-secondary-light-8:hover {
  color: #8de4c4;
}

.bg-secondary-light-8 {
  background-color: #d1f4e7;
}

.text-secondary-light-9 {
  color: #e8faf3;
}

.text-hover-secondary-light-9:hover {
  color: #8de4c4;
}

.bg-secondary-light-9 {
  background-color: #e8faf3;
}

.text-secondary-dark-1 {
  color: #17b47a;
}

.text-hover-secondary-dark-1:hover {
  color: #0d6444;
}

.bg-secondary-dark-1 {
  background-color: #17b47a;
}

.text-secondary-dark-2 {
  color: #15a06d;
}

.text-hover-secondary-dark-2:hover {
  color: #0d6444;
}

.bg-secondary-dark-2 {
  background-color: #15a06d;
}

.text-secondary-dark-3 {
  color: #128c5f;
}

.text-hover-secondary-dark-3:hover {
  color: #0d6444;
}

.bg-secondary-dark-3 {
  background-color: #128c5f;
}

.text-secondary-dark-4 {
  color: #107852;
}

.text-hover-secondary-dark-4:hover {
  color: #0d6444;
}

.bg-secondary-dark-4 {
  background-color: #107852;
}

.text-secondary-dark-5 {
  color: #0d6444;
}

.text-hover-secondary-dark-5:hover {
  color: #0d6444;
}

.bg-secondary-dark-5 {
  background-color: #0d6444;
}

.text-secondary-dark-6 {
  color: #0a5036;
}

.text-hover-secondary-dark-6:hover {
  color: #0d6444;
}

.bg-secondary-dark-6 {
  background-color: #0a5036;
}

.text-secondary-dark-7 {
  color: #083c29;
}

.text-hover-secondary-dark-7:hover {
  color: #0d6444;
}

.bg-secondary-dark-7 {
  background-color: #083c29;
}

.text-secondary-dark-8 {
  color: #05281b;
}

.text-hover-secondary-dark-8:hover {
  color: #0d6444;
}

.bg-secondary-dark-8 {
  background-color: #05281b;
}

.text-secondary-dark-9 {
  color: #03140e;
}

.text-hover-secondary-dark-9:hover {
  color: #0d6444;
}

.bg-secondary-dark-9 {
  background-color: #03140e;
}

.text-error {
  color: #d32752;
}

.text-hover-error:hover {
  color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.text-error-light-1 {
  color: #d73d63;
}

.text-hover-error-light-1:hover {
  color: #e993a9;
}

.bg-error-light-1 {
  background-color: #d73d63;
}

.text-error-light-2 {
  color: #dc5275;
}

.text-hover-error-light-2:hover {
  color: #e993a9;
}

.bg-error-light-2 {
  background-color: #dc5275;
}

.text-error-light-3 {
  color: #e06886;
}

.text-hover-error-light-3:hover {
  color: #e993a9;
}

.bg-error-light-3 {
  background-color: #e06886;
}

.text-error-light-4 {
  color: #e57d97;
}

.text-hover-error-light-4:hover {
  color: #e993a9;
}

.bg-error-light-4 {
  background-color: #e57d97;
}

.text-error-light-5 {
  color: #e993a9;
}

.text-hover-error-light-5:hover {
  color: #e993a9;
}

.bg-error-light-5 {
  background-color: #e993a9;
}

.text-error-light-6 {
  color: #eda9ba;
}

.text-hover-error-light-6:hover {
  color: #e993a9;
}

.bg-error-light-6 {
  background-color: #eda9ba;
}

.text-error-light-7 {
  color: #f2becb;
}

.text-hover-error-light-7:hover {
  color: #e993a9;
}

.bg-error-light-7 {
  background-color: #f2becb;
}

.text-error-light-8 {
  color: #f6d4dc;
}

.text-hover-error-light-8:hover {
  color: #e993a9;
}

.bg-error-light-8 {
  background-color: #f6d4dc;
}

.text-error-light-9 {
  color: #fbe9ee;
}

.text-hover-error-light-9:hover {
  color: #e993a9;
}

.bg-error-light-9 {
  background-color: #fbe9ee;
}

.text-error-dark-1 {
  color: #be234a;
}

.text-hover-error-dark-1:hover {
  color: #6a1429;
}

.bg-error-dark-1 {
  background-color: #be234a;
}

.text-error-dark-2 {
  color: #a91f42;
}

.text-hover-error-dark-2:hover {
  color: #6a1429;
}

.bg-error-dark-2 {
  background-color: #a91f42;
}

.text-error-dark-3 {
  color: #941b39;
}

.text-hover-error-dark-3:hover {
  color: #6a1429;
}

.bg-error-dark-3 {
  background-color: #941b39;
}

.text-error-dark-4 {
  color: #7f1731;
}

.text-hover-error-dark-4:hover {
  color: #6a1429;
}

.bg-error-dark-4 {
  background-color: #7f1731;
}

.text-error-dark-5 {
  color: #6a1429;
}

.text-hover-error-dark-5:hover {
  color: #6a1429;
}

.bg-error-dark-5 {
  background-color: #6a1429;
}

.text-error-dark-6 {
  color: #541021;
}

.text-hover-error-dark-6:hover {
  color: #6a1429;
}

.bg-error-dark-6 {
  background-color: #541021;
}

.text-error-dark-7 {
  color: #3f0c19;
}

.text-hover-error-dark-7:hover {
  color: #6a1429;
}

.bg-error-dark-7 {
  background-color: #3f0c19;
}

.text-error-dark-8 {
  color: #2a0810;
}

.text-hover-error-dark-8:hover {
  color: #6a1429;
}

.bg-error-dark-8 {
  background-color: #2a0810;
}

.text-error-dark-9 {
  color: #150408;
}

.text-hover-error-dark-9:hover {
  color: #6a1429;
}

.bg-error-dark-9 {
  background-color: #150408;
}

.text-info {
  color: #f6c31c;
}

.text-hover-info:hover {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-info-light-1 {
  color: #f7c933;
}

.text-hover-info-light-1:hover {
  color: #fbe18e;
}

.bg-info-light-1 {
  background-color: #f7c933;
}

.text-info-light-2 {
  color: #f8cf49;
}

.text-hover-info-light-2:hover {
  color: #fbe18e;
}

.bg-info-light-2 {
  background-color: #f8cf49;
}

.text-info-light-3 {
  color: #f9d560;
}

.text-hover-info-light-3:hover {
  color: #fbe18e;
}

.bg-info-light-3 {
  background-color: #f9d560;
}

.text-info-light-4 {
  color: #fadb77;
}

.text-hover-info-light-4:hover {
  color: #fbe18e;
}

.bg-info-light-4 {
  background-color: #fadb77;
}

.text-info-light-5 {
  color: #fbe18e;
}

.text-hover-info-light-5:hover {
  color: #fbe18e;
}

.bg-info-light-5 {
  background-color: #fbe18e;
}

.text-info-light-6 {
  color: #fbe7a4;
}

.text-hover-info-light-6:hover {
  color: #fbe18e;
}

.bg-info-light-6 {
  background-color: #fbe7a4;
}

.text-info-light-7 {
  color: #fcedbb;
}

.text-hover-info-light-7:hover {
  color: #fbe18e;
}

.bg-info-light-7 {
  background-color: #fcedbb;
}

.text-info-light-8 {
  color: #fdf3d2;
}

.text-hover-info-light-8:hover {
  color: #fbe18e;
}

.bg-info-light-8 {
  background-color: #fdf3d2;
}

.text-info-light-9 {
  color: #fef9e8;
}

.text-hover-info-light-9:hover {
  color: #fbe18e;
}

.bg-info-light-9 {
  background-color: #fef9e8;
}

.text-info-dark-1 {
  color: #ddb019;
}

.text-hover-info-dark-1:hover {
  color: #7b620e;
}

.bg-info-dark-1 {
  background-color: #ddb019;
}

.text-info-dark-2 {
  color: #c59c16;
}

.text-hover-info-dark-2:hover {
  color: #7b620e;
}

.bg-info-dark-2 {
  background-color: #c59c16;
}

.text-info-dark-3 {
  color: #ac8914;
}

.text-hover-info-dark-3:hover {
  color: #7b620e;
}

.bg-info-dark-3 {
  background-color: #ac8914;
}

.text-info-dark-4 {
  color: #947511;
}

.text-hover-info-dark-4:hover {
  color: #7b620e;
}

.bg-info-dark-4 {
  background-color: #947511;
}

.text-info-dark-5 {
  color: #7b620e;
}

.text-hover-info-dark-5:hover {
  color: #7b620e;
}

.bg-info-dark-5 {
  background-color: #7b620e;
}

.text-info-dark-6 {
  color: #624e0b;
}

.text-hover-info-dark-6:hover {
  color: #7b620e;
}

.bg-info-dark-6 {
  background-color: #624e0b;
}

.text-info-dark-7 {
  color: #4a3b08;
}

.text-hover-info-dark-7:hover {
  color: #7b620e;
}

.bg-info-dark-7 {
  background-color: #4a3b08;
}

.text-info-dark-8 {
  color: #312706;
}

.text-hover-info-dark-8:hover {
  color: #7b620e;
}

.bg-info-dark-8 {
  background-color: #312706;
}

.text-info-dark-9 {
  color: #191403;
}

.text-hover-info-dark-9:hover {
  color: #7b620e;
}

.bg-info-dark-9 {
  background-color: #191403;
}

.text-blue {
  color: #1919e6;
}

.text-hover-blue:hover {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-blue-light-1 {
  color: #3030e9;
}

.text-hover-blue-light-1:hover {
  color: #8c8cf3;
}

.bg-blue-light-1 {
  background-color: #3030e9;
}

.text-blue-light-2 {
  color: #4747eb;
}

.text-hover-blue-light-2:hover {
  color: #8c8cf3;
}

.bg-blue-light-2 {
  background-color: #4747eb;
}

.text-blue-light-3 {
  color: #5e5eee;
}

.text-hover-blue-light-3:hover {
  color: #8c8cf3;
}

.bg-blue-light-3 {
  background-color: #5e5eee;
}

.text-blue-light-4 {
  color: #7575f0;
}

.text-hover-blue-light-4:hover {
  color: #8c8cf3;
}

.bg-blue-light-4 {
  background-color: #7575f0;
}

.text-blue-light-5 {
  color: #8c8cf3;
}

.text-hover-blue-light-5:hover {
  color: #8c8cf3;
}

.bg-blue-light-5 {
  background-color: #8c8cf3;
}

.text-blue-light-6 {
  color: #a3a3f5;
}

.text-hover-blue-light-6:hover {
  color: #8c8cf3;
}

.bg-blue-light-6 {
  background-color: #a3a3f5;
}

.text-blue-light-7 {
  color: #babaf8;
}

.text-hover-blue-light-7:hover {
  color: #8c8cf3;
}

.bg-blue-light-7 {
  background-color: #babaf8;
}

.text-blue-light-8 {
  color: #d1d1fa;
}

.text-hover-blue-light-8:hover {
  color: #8c8cf3;
}

.bg-blue-light-8 {
  background-color: #d1d1fa;
}

.text-blue-light-9 {
  color: #e8e8fd;
}

.text-hover-blue-light-9:hover {
  color: #8c8cf3;
}

.bg-blue-light-9 {
  background-color: #e8e8fd;
}

.text-blue-dark-1 {
  color: #1717cf;
}

.text-hover-blue-dark-1:hover {
  color: #0d0d73;
}

.bg-blue-dark-1 {
  background-color: #1717cf;
}

.text-blue-dark-2 {
  color: #1414b8;
}

.text-hover-blue-dark-2:hover {
  color: #0d0d73;
}

.bg-blue-dark-2 {
  background-color: #1414b8;
}

.text-blue-dark-3 {
  color: #1212a1;
}

.text-hover-blue-dark-3:hover {
  color: #0d0d73;
}

.bg-blue-dark-3 {
  background-color: #1212a1;
}

.text-blue-dark-4 {
  color: #0f0f8a;
}

.text-hover-blue-dark-4:hover {
  color: #0d0d73;
}

.bg-blue-dark-4 {
  background-color: #0f0f8a;
}

.text-blue-dark-5 {
  color: #0d0d73;
}

.text-hover-blue-dark-5:hover {
  color: #0d0d73;
}

.bg-blue-dark-5 {
  background-color: #0d0d73;
}

.text-blue-dark-6 {
  color: #0a0a5c;
}

.text-hover-blue-dark-6:hover {
  color: #0d0d73;
}

.bg-blue-dark-6 {
  background-color: #0a0a5c;
}

.text-blue-dark-7 {
  color: #080845;
}

.text-hover-blue-dark-7:hover {
  color: #0d0d73;
}

.bg-blue-dark-7 {
  background-color: #080845;
}

.text-blue-dark-8 {
  color: #05052e;
}

.text-hover-blue-dark-8:hover {
  color: #0d0d73;
}

.bg-blue-dark-8 {
  background-color: #05052e;
}

.text-blue-dark-9 {
  color: #030317;
}

.text-hover-blue-dark-9:hover {
  color: #0d0d73;
}

.bg-blue-dark-9 {
  background-color: #030317;
}

.text-red {
  color: #e61919;
}

.text-hover-red:hover {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-red-light-1 {
  color: #e93030;
}

.text-hover-red-light-1:hover {
  color: #f38c8c;
}

.bg-red-light-1 {
  background-color: #e93030;
}

.text-red-light-2 {
  color: #eb4747;
}

.text-hover-red-light-2:hover {
  color: #f38c8c;
}

.bg-red-light-2 {
  background-color: #eb4747;
}

.text-red-light-3 {
  color: #ee5e5e;
}

.text-hover-red-light-3:hover {
  color: #f38c8c;
}

.bg-red-light-3 {
  background-color: #ee5e5e;
}

.text-red-light-4 {
  color: #f07575;
}

.text-hover-red-light-4:hover {
  color: #f38c8c;
}

.bg-red-light-4 {
  background-color: #f07575;
}

.text-red-light-5 {
  color: #f38c8c;
}

.text-hover-red-light-5:hover {
  color: #f38c8c;
}

.bg-red-light-5 {
  background-color: #f38c8c;
}

.text-red-light-6 {
  color: #f5a3a3;
}

.text-hover-red-light-6:hover {
  color: #f38c8c;
}

.bg-red-light-6 {
  background-color: #f5a3a3;
}

.text-red-light-7 {
  color: #f8baba;
}

.text-hover-red-light-7:hover {
  color: #f38c8c;
}

.bg-red-light-7 {
  background-color: #f8baba;
}

.text-red-light-8 {
  color: #fad1d1;
}

.text-hover-red-light-8:hover {
  color: #f38c8c;
}

.bg-red-light-8 {
  background-color: #fad1d1;
}

.text-red-light-9 {
  color: #fde8e8;
}

.text-hover-red-light-9:hover {
  color: #f38c8c;
}

.bg-red-light-9 {
  background-color: #fde8e8;
}

.text-red-dark-1 {
  color: #cf1717;
}

.text-hover-red-dark-1:hover {
  color: #730d0d;
}

.bg-red-dark-1 {
  background-color: #cf1717;
}

.text-red-dark-2 {
  color: #b81414;
}

.text-hover-red-dark-2:hover {
  color: #730d0d;
}

.bg-red-dark-2 {
  background-color: #b81414;
}

.text-red-dark-3 {
  color: #a11212;
}

.text-hover-red-dark-3:hover {
  color: #730d0d;
}

.bg-red-dark-3 {
  background-color: #a11212;
}

.text-red-dark-4 {
  color: #8a0f0f;
}

.text-hover-red-dark-4:hover {
  color: #730d0d;
}

.bg-red-dark-4 {
  background-color: #8a0f0f;
}

.text-red-dark-5 {
  color: #730d0d;
}

.text-hover-red-dark-5:hover {
  color: #730d0d;
}

.bg-red-dark-5 {
  background-color: #730d0d;
}

.text-red-dark-6 {
  color: #5c0a0a;
}

.text-hover-red-dark-6:hover {
  color: #730d0d;
}

.bg-red-dark-6 {
  background-color: #5c0a0a;
}

.text-red-dark-7 {
  color: #450808;
}

.text-hover-red-dark-7:hover {
  color: #730d0d;
}

.bg-red-dark-7 {
  background-color: #450808;
}

.text-red-dark-8 {
  color: #2e0505;
}

.text-hover-red-dark-8:hover {
  color: #730d0d;
}

.bg-red-dark-8 {
  background-color: #2e0505;
}

.text-red-dark-9 {
  color: #170303;
}

.text-hover-red-dark-9:hover {
  color: #730d0d;
}

.bg-red-dark-9 {
  background-color: #170303;
}

.text-yellow {
  color: #e6e619;
}

.text-hover-yellow:hover {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-yellow-light-1 {
  color: #e9e930;
}

.text-hover-yellow-light-1:hover {
  color: #f3f38c;
}

.bg-yellow-light-1 {
  background-color: #e9e930;
}

.text-yellow-light-2 {
  color: #ebeb47;
}

.text-hover-yellow-light-2:hover {
  color: #f3f38c;
}

.bg-yellow-light-2 {
  background-color: #ebeb47;
}

.text-yellow-light-3 {
  color: #eeee5e;
}

.text-hover-yellow-light-3:hover {
  color: #f3f38c;
}

.bg-yellow-light-3 {
  background-color: #eeee5e;
}

.text-yellow-light-4 {
  color: #f0f075;
}

.text-hover-yellow-light-4:hover {
  color: #f3f38c;
}

.bg-yellow-light-4 {
  background-color: #f0f075;
}

.text-yellow-light-5 {
  color: #f3f38c;
}

.text-hover-yellow-light-5:hover {
  color: #f3f38c;
}

.bg-yellow-light-5 {
  background-color: #f3f38c;
}

.text-yellow-light-6 {
  color: #f5f5a3;
}

.text-hover-yellow-light-6:hover {
  color: #f3f38c;
}

.bg-yellow-light-6 {
  background-color: #f5f5a3;
}

.text-yellow-light-7 {
  color: #f8f8ba;
}

.text-hover-yellow-light-7:hover {
  color: #f3f38c;
}

.bg-yellow-light-7 {
  background-color: #f8f8ba;
}

.text-yellow-light-8 {
  color: #fafad1;
}

.text-hover-yellow-light-8:hover {
  color: #f3f38c;
}

.bg-yellow-light-8 {
  background-color: #fafad1;
}

.text-yellow-light-9 {
  color: #fdfde8;
}

.text-hover-yellow-light-9:hover {
  color: #f3f38c;
}

.bg-yellow-light-9 {
  background-color: #fdfde8;
}

.text-yellow-dark-1 {
  color: #cfcf17;
}

.text-hover-yellow-dark-1:hover {
  color: #73730d;
}

.bg-yellow-dark-1 {
  background-color: #cfcf17;
}

.text-yellow-dark-2 {
  color: #b8b814;
}

.text-hover-yellow-dark-2:hover {
  color: #73730d;
}

.bg-yellow-dark-2 {
  background-color: #b8b814;
}

.text-yellow-dark-3 {
  color: #a1a112;
}

.text-hover-yellow-dark-3:hover {
  color: #73730d;
}

.bg-yellow-dark-3 {
  background-color: #a1a112;
}

.text-yellow-dark-4 {
  color: #8a8a0f;
}

.text-hover-yellow-dark-4:hover {
  color: #73730d;
}

.bg-yellow-dark-4 {
  background-color: #8a8a0f;
}

.text-yellow-dark-5 {
  color: #73730d;
}

.text-hover-yellow-dark-5:hover {
  color: #73730d;
}

.bg-yellow-dark-5 {
  background-color: #73730d;
}

.text-yellow-dark-6 {
  color: #5c5c0a;
}

.text-hover-yellow-dark-6:hover {
  color: #73730d;
}

.bg-yellow-dark-6 {
  background-color: #5c5c0a;
}

.text-yellow-dark-7 {
  color: #454508;
}

.text-hover-yellow-dark-7:hover {
  color: #73730d;
}

.bg-yellow-dark-7 {
  background-color: #454508;
}

.text-yellow-dark-8 {
  color: #2e2e05;
}

.text-hover-yellow-dark-8:hover {
  color: #73730d;
}

.bg-yellow-dark-8 {
  background-color: #2e2e05;
}

.text-yellow-dark-9 {
  color: #171703;
}

.text-hover-yellow-dark-9:hover {
  color: #73730d;
}

.bg-yellow-dark-9 {
  background-color: #171703;
}

.text-green {
  color: #19e635;
}

.text-hover-green:hover {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-green-light-1 {
  color: #30e949;
}

.text-hover-green-light-1:hover {
  color: #8cf39a;
}

.bg-green-light-1 {
  background-color: #30e949;
}

.text-green-light-2 {
  color: #47eb5d;
}

.text-hover-green-light-2:hover {
  color: #8cf39a;
}

.bg-green-light-2 {
  background-color: #47eb5d;
}

.text-green-light-3 {
  color: #5eee72;
}

.text-hover-green-light-3:hover {
  color: #8cf39a;
}

.bg-green-light-3 {
  background-color: #5eee72;
}

.text-green-light-4 {
  color: #75f086;
}

.text-hover-green-light-4:hover {
  color: #8cf39a;
}

.bg-green-light-4 {
  background-color: #75f086;
}

.text-green-light-5 {
  color: #8cf39a;
}

.text-hover-green-light-5:hover {
  color: #8cf39a;
}

.bg-green-light-5 {
  background-color: #8cf39a;
}

.text-green-light-6 {
  color: #a3f5ae;
}

.text-hover-green-light-6:hover {
  color: #8cf39a;
}

.bg-green-light-6 {
  background-color: #a3f5ae;
}

.text-green-light-7 {
  color: #baf8c2;
}

.text-hover-green-light-7:hover {
  color: #8cf39a;
}

.bg-green-light-7 {
  background-color: #baf8c2;
}

.text-green-light-8 {
  color: #d1fad7;
}

.text-hover-green-light-8:hover {
  color: #8cf39a;
}

.bg-green-light-8 {
  background-color: #d1fad7;
}

.text-green-light-9 {
  color: #e8fdeb;
}

.text-hover-green-light-9:hover {
  color: #8cf39a;
}

.bg-green-light-9 {
  background-color: #e8fdeb;
}

.text-green-dark-1 {
  color: #17cf30;
}

.text-hover-green-dark-1:hover {
  color: #0d731b;
}

.bg-green-dark-1 {
  background-color: #17cf30;
}

.text-green-dark-2 {
  color: #14b82a;
}

.text-hover-green-dark-2:hover {
  color: #0d731b;
}

.bg-green-dark-2 {
  background-color: #14b82a;
}

.text-green-dark-3 {
  color: #12a125;
}

.text-hover-green-dark-3:hover {
  color: #0d731b;
}

.bg-green-dark-3 {
  background-color: #12a125;
}

.text-green-dark-4 {
  color: #0f8a20;
}

.text-hover-green-dark-4:hover {
  color: #0d731b;
}

.bg-green-dark-4 {
  background-color: #0f8a20;
}

.text-green-dark-5 {
  color: #0d731b;
}

.text-hover-green-dark-5:hover {
  color: #0d731b;
}

.bg-green-dark-5 {
  background-color: #0d731b;
}

.text-green-dark-6 {
  color: #0a5c15;
}

.text-hover-green-dark-6:hover {
  color: #0d731b;
}

.bg-green-dark-6 {
  background-color: #0a5c15;
}

.text-green-dark-7 {
  color: #084510;
}

.text-hover-green-dark-7:hover {
  color: #0d731b;
}

.bg-green-dark-7 {
  background-color: #084510;
}

.text-green-dark-8 {
  color: #052e0b;
}

.text-hover-green-dark-8:hover {
  color: #0d731b;
}

.bg-green-dark-8 {
  background-color: #052e0b;
}

.text-green-dark-9 {
  color: #031705;
}

.text-hover-green-dark-9:hover {
  color: #0d731b;
}

.bg-green-dark-9 {
  background-color: #031705;
}

.text-orange {
  color: #ffa600;
}

.text-hover-orange:hover {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-orange-light-1 {
  color: #ffaf1a;
}

.text-hover-orange-light-1:hover {
  color: #ffd380;
}

.bg-orange-light-1 {
  background-color: #ffaf1a;
}

.text-orange-light-2 {
  color: #ffb833;
}

.text-hover-orange-light-2:hover {
  color: #ffd380;
}

.bg-orange-light-2 {
  background-color: #ffb833;
}

.text-orange-light-3 {
  color: #ffc14d;
}

.text-hover-orange-light-3:hover {
  color: #ffd380;
}

.bg-orange-light-3 {
  background-color: #ffc14d;
}

.text-orange-light-4 {
  color: #ffca66;
}

.text-hover-orange-light-4:hover {
  color: #ffd380;
}

.bg-orange-light-4 {
  background-color: #ffca66;
}

.text-orange-light-5 {
  color: #ffd380;
}

.text-hover-orange-light-5:hover {
  color: #ffd380;
}

.bg-orange-light-5 {
  background-color: #ffd380;
}

.text-orange-light-6 {
  color: #ffdb99;
}

.text-hover-orange-light-6:hover {
  color: #ffd380;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.text-orange-light-7 {
  color: #ffe4b3;
}

.text-hover-orange-light-7:hover {
  color: #ffd380;
}

.bg-orange-light-7 {
  background-color: #ffe4b3;
}

.text-orange-light-8 {
  color: #ffedcc;
}

.text-hover-orange-light-8:hover {
  color: #ffd380;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.text-orange-light-9 {
  color: #fff6e6;
}

.text-hover-orange-light-9:hover {
  color: #ffd380;
}

.bg-orange-light-9 {
  background-color: #fff6e6;
}

.text-orange-dark-1 {
  color: #e69500;
}

.text-hover-orange-dark-1:hover {
  color: #805300;
}

.bg-orange-dark-1 {
  background-color: #e69500;
}

.text-orange-dark-2 {
  color: #cc8500;
}

.text-hover-orange-dark-2:hover {
  color: #805300;
}

.bg-orange-dark-2 {
  background-color: #cc8500;
}

.text-orange-dark-3 {
  color: #b37400;
}

.text-hover-orange-dark-3:hover {
  color: #805300;
}

.bg-orange-dark-3 {
  background-color: #b37400;
}

.text-orange-dark-4 {
  color: #996400;
}

.text-hover-orange-dark-4:hover {
  color: #805300;
}

.bg-orange-dark-4 {
  background-color: #996400;
}

.text-orange-dark-5 {
  color: #805300;
}

.text-hover-orange-dark-5:hover {
  color: #805300;
}

.bg-orange-dark-5 {
  background-color: #805300;
}

.text-orange-dark-6 {
  color: #664200;
}

.text-hover-orange-dark-6:hover {
  color: #805300;
}

.bg-orange-dark-6 {
  background-color: #664200;
}

.text-orange-dark-7 {
  color: #4d3200;
}

.text-hover-orange-dark-7:hover {
  color: #805300;
}

.bg-orange-dark-7 {
  background-color: #4d3200;
}

.text-orange-dark-8 {
  color: #332100;
}

.text-hover-orange-dark-8:hover {
  color: #805300;
}

.bg-orange-dark-8 {
  background-color: #332100;
}

.text-orange-dark-9 {
  color: #1a1100;
}

.text-hover-orange-dark-9:hover {
  color: #805300;
}

.bg-orange-dark-9 {
  background-color: #1a1100;
}

.text-purple {
  color: #9900ff;
}

.text-hover-purple:hover {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-purple-light-1 {
  color: #a31aff;
}

.text-hover-purple-light-1:hover {
  color: #cc80ff;
}

.bg-purple-light-1 {
  background-color: #a31aff;
}

.text-purple-light-2 {
  color: #ad33ff;
}

.text-hover-purple-light-2:hover {
  color: #cc80ff;
}

.bg-purple-light-2 {
  background-color: #ad33ff;
}

.text-purple-light-3 {
  color: #b84dff;
}

.text-hover-purple-light-3:hover {
  color: #cc80ff;
}

.bg-purple-light-3 {
  background-color: #b84dff;
}

.text-purple-light-4 {
  color: #c266ff;
}

.text-hover-purple-light-4:hover {
  color: #cc80ff;
}

.bg-purple-light-4 {
  background-color: #c266ff;
}

.text-purple-light-5 {
  color: #cc80ff;
}

.text-hover-purple-light-5:hover {
  color: #cc80ff;
}

.bg-purple-light-5 {
  background-color: #cc80ff;
}

.text-purple-light-6 {
  color: #d699ff;
}

.text-hover-purple-light-6:hover {
  color: #cc80ff;
}

.bg-purple-light-6 {
  background-color: #d699ff;
}

.text-purple-light-7 {
  color: #e0b3ff;
}

.text-hover-purple-light-7:hover {
  color: #cc80ff;
}

.bg-purple-light-7 {
  background-color: #e0b3ff;
}

.text-purple-light-8 {
  color: #ebccff;
}

.text-hover-purple-light-8:hover {
  color: #cc80ff;
}

.bg-purple-light-8 {
  background-color: #ebccff;
}

.text-purple-light-9 {
  color: #f5e6ff;
}

.text-hover-purple-light-9:hover {
  color: #cc80ff;
}

.bg-purple-light-9 {
  background-color: #f5e6ff;
}

.text-purple-dark-1 {
  color: #8a00e6;
}

.text-hover-purple-dark-1:hover {
  color: #4d0080;
}

.bg-purple-dark-1 {
  background-color: #8a00e6;
}

.text-purple-dark-2 {
  color: #7a00cc;
}

.text-hover-purple-dark-2:hover {
  color: #4d0080;
}

.bg-purple-dark-2 {
  background-color: #7a00cc;
}

.text-purple-dark-3 {
  color: #6b00b3;
}

.text-hover-purple-dark-3:hover {
  color: #4d0080;
}

.bg-purple-dark-3 {
  background-color: #6b00b3;
}

.text-purple-dark-4 {
  color: #5c0099;
}

.text-hover-purple-dark-4:hover {
  color: #4d0080;
}

.bg-purple-dark-4 {
  background-color: #5c0099;
}

.text-purple-dark-5 {
  color: #4d0080;
}

.text-hover-purple-dark-5:hover {
  color: #4d0080;
}

.bg-purple-dark-5 {
  background-color: #4d0080;
}

.text-purple-dark-6 {
  color: #3d0066;
}

.text-hover-purple-dark-6:hover {
  color: #4d0080;
}

.bg-purple-dark-6 {
  background-color: #3d0066;
}

.text-purple-dark-7 {
  color: #2e004d;
}

.text-hover-purple-dark-7:hover {
  color: #4d0080;
}

.bg-purple-dark-7 {
  background-color: #2e004d;
}

.text-purple-dark-8 {
  color: #1f0033;
}

.text-hover-purple-dark-8:hover {
  color: #4d0080;
}

.bg-purple-dark-8 {
  background-color: #1f0033;
}

.text-purple-dark-9 {
  color: #0f001a;
}

.text-hover-purple-dark-9:hover {
  color: #4d0080;
}

.bg-purple-dark-9 {
  background-color: #0f001a;
}

.text-gray {
  color: #808080;
}

.text-hover-gray:hover {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-gray-light-1 {
  color: #8d8d8d;
}

.text-hover-gray-light-1:hover {
  color: silver;
}

.bg-gray-light-1 {
  background-color: #8d8d8d;
}

.text-gray-light-2 {
  color: #999999;
}

.text-hover-gray-light-2:hover {
  color: silver;
}

.bg-gray-light-2 {
  background-color: #999999;
}

.text-gray-light-3 {
  color: #a6a6a6;
}

.text-hover-gray-light-3:hover {
  color: silver;
}

.bg-gray-light-3 {
  background-color: #a6a6a6;
}

.text-gray-light-4 {
  color: #b3b3b3;
}

.text-hover-gray-light-4:hover {
  color: silver;
}

.bg-gray-light-4 {
  background-color: #b3b3b3;
}

.text-gray-light-5 {
  color: silver;
}

.text-hover-gray-light-5:hover {
  color: silver;
}

.bg-gray-light-5 {
  background-color: silver;
}

.text-gray-light-6 {
  color: #cccccc;
}

.text-hover-gray-light-6:hover {
  color: silver;
}

.bg-gray-light-6 {
  background-color: #cccccc;
}

.text-gray-light-7 {
  color: #d9d9d9;
}

.text-hover-gray-light-7:hover {
  color: silver;
}

.bg-gray-light-7 {
  background-color: #d9d9d9;
}

.text-gray-light-8 {
  color: #e6e6e6;
}

.text-hover-gray-light-8:hover {
  color: silver;
}

.bg-gray-light-8 {
  background-color: #e6e6e6;
}

.text-gray-light-9 {
  color: #f2f2f2;
}

.text-hover-gray-light-9:hover {
  color: silver;
}

.bg-gray-light-9 {
  background-color: #f2f2f2;
}

.text-gray-dark-1 {
  color: #737373;
}

.text-hover-gray-dark-1:hover {
  color: #404040;
}

.bg-gray-dark-1 {
  background-color: #737373;
}

.text-gray-dark-2 {
  color: #666666;
}

.text-hover-gray-dark-2:hover {
  color: #404040;
}

.bg-gray-dark-2 {
  background-color: #666666;
}

.text-gray-dark-3 {
  color: #5a5a5a;
}

.text-hover-gray-dark-3:hover {
  color: #404040;
}

.bg-gray-dark-3 {
  background-color: #5a5a5a;
}

.text-gray-dark-4 {
  color: #4d4d4d;
}

.text-hover-gray-dark-4:hover {
  color: #404040;
}

.bg-gray-dark-4 {
  background-color: #4d4d4d;
}

.text-gray-dark-5 {
  color: #404040;
}

.text-hover-gray-dark-5:hover {
  color: #404040;
}

.bg-gray-dark-5 {
  background-color: #404040;
}

.text-gray-dark-6 {
  color: #333333;
}

.text-hover-gray-dark-6:hover {
  color: #404040;
}

.bg-gray-dark-6 {
  background-color: #333333;
}

.text-gray-dark-7 {
  color: #262626;
}

.text-hover-gray-dark-7:hover {
  color: #404040;
}

.bg-gray-dark-7 {
  background-color: #262626;
}

.text-gray-dark-8 {
  color: #1a1a1a;
}

.text-hover-gray-dark-8:hover {
  color: #404040;
}

.bg-gray-dark-8 {
  background-color: #1a1a1a;
}

.text-gray-dark-9 {
  color: #0d0d0d;
}

.text-hover-gray-dark-9:hover {
  color: #404040;
}

.bg-gray-dark-9 {
  background-color: #0d0d0d;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-white-light-1 {
  color: white;
}

.text-hover-white-light-1:hover {
  color: white;
}

.bg-white-light-1 {
  background-color: white;
}

.text-white-light-2 {
  color: white;
}

.text-hover-white-light-2:hover {
  color: white;
}

.bg-white-light-2 {
  background-color: white;
}

.text-white-light-3 {
  color: white;
}

.text-hover-white-light-3:hover {
  color: white;
}

.bg-white-light-3 {
  background-color: white;
}

.text-white-light-4 {
  color: white;
}

.text-hover-white-light-4:hover {
  color: white;
}

.bg-white-light-4 {
  background-color: white;
}

.text-white-light-5 {
  color: white;
}

.text-hover-white-light-5:hover {
  color: white;
}

.bg-white-light-5 {
  background-color: white;
}

.text-white-light-6 {
  color: white;
}

.text-hover-white-light-6:hover {
  color: white;
}

.bg-white-light-6 {
  background-color: white;
}

.text-white-light-7 {
  color: white;
}

.text-hover-white-light-7:hover {
  color: white;
}

.bg-white-light-7 {
  background-color: white;
}

.text-white-light-8 {
  color: white;
}

.text-hover-white-light-8:hover {
  color: white;
}

.bg-white-light-8 {
  background-color: white;
}

.text-white-light-9 {
  color: white;
}

.text-hover-white-light-9:hover {
  color: white;
}

.bg-white-light-9 {
  background-color: white;
}

.text-white-dark-1 {
  color: #e6e6e6;
}

.text-hover-white-dark-1:hover {
  color: gray;
}

.bg-white-dark-1 {
  background-color: #e6e6e6;
}

.text-white-dark-2 {
  color: #cccccc;
}

.text-hover-white-dark-2:hover {
  color: gray;
}

.bg-white-dark-2 {
  background-color: #cccccc;
}

.text-white-dark-3 {
  color: #b3b3b3;
}

.text-hover-white-dark-3:hover {
  color: gray;
}

.bg-white-dark-3 {
  background-color: #b3b3b3;
}

.text-white-dark-4 {
  color: #999999;
}

.text-hover-white-dark-4:hover {
  color: gray;
}

.bg-white-dark-4 {
  background-color: #999999;
}

.text-white-dark-5 {
  color: gray;
}

.text-hover-white-dark-5:hover {
  color: gray;
}

.bg-white-dark-5 {
  background-color: gray;
}

.text-white-dark-6 {
  color: #666666;
}

.text-hover-white-dark-6:hover {
  color: gray;
}

.bg-white-dark-6 {
  background-color: #666666;
}

.text-white-dark-7 {
  color: #4d4d4d;
}

.text-hover-white-dark-7:hover {
  color: gray;
}

.bg-white-dark-7 {
  background-color: #4d4d4d;
}

.text-white-dark-8 {
  color: #333333;
}

.text-hover-white-dark-8:hover {
  color: gray;
}

.bg-white-dark-8 {
  background-color: #333333;
}

.text-white-dark-9 {
  color: #1a1a1a;
}

.text-hover-white-dark-9:hover {
  color: gray;
}

.bg-white-dark-9 {
  background-color: #1a1a1a;
}

.test-if {
  color: black;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.nav {
  height: 10vh;
}

.header {
  width: 70vw;
  position: absolute;
  left: 15vw;
  top: 50vh;
}
.header .header-h1 {
  font-family: "Milonga", cursive;
}
.header .header-p {
  font-family: "Playfair Display", serif;
}
.header .header-btn {
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transform: 1s;
}
.header .header-btn:hover {
  background-color: #9bcdfb;
  color: blue;
}

.logo {
  width: 10vw;
  height: 10vh;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.container .video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}
.container .container-in {
  top: 0;
  left: 0;
  position: absolute;
}